* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.icon {
    display: flex;
    width: calc(100%);
    text-align: center;
    line-height: 100vh;
}

.dropdown {
    position: relative;
    margin-top: 100px;
    width: 300px;
    height: 50px;
    
}

.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 12px 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    border: solid 2px black;
}

.dropdown .option {
    position: absolute;
    top: 70px;
    width: 100%;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    overflow: hidden;
    display: none;
}

.dropdown.active .option {
    display: block;
}

.dropdown .option div {
    cursor: pointer;
    padding: 12px 20px;
}