<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Study Cafe</title>
    <link rel="stylesheet" href="css/responsee.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" />
    <!-- Main Quill library -->
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <script src="js/quill.js"></script>

    <!-- Theme included stylesheets -->
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" />

    <!-- Core build with no theme, formatting, non-essential modules -->
    <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet" />
    <script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>
  </head>
  <body class="cafe">
    <div class="wrapper">
      <header class="header">
        <div class="line">
          <nav>
            <div class="top-nav">
              <p class="nav-text"></p>
              <a class="logo" href="main"> Record<span> &nbsp;Your Life</span> </a>
              <ul class="top-nav2">
                <li>
                  <a href="/main">main</a>
                </li>
                <li>
                  <a href="/list">List</a>
                </li>

                <li>
                  <a href="/memo">MEMO</a>
                </li>
                <li>
                  <a href="/comunity">comunity</a>
                </li>
                <li>
                  <form action="/logout" class="loged" method="get">
                    <input type="submit" value="log out" />
                  </form>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <section id="article-section" class="line">
        <div class="mainBody">
          <div class="one_ textBody">
            <article class="header">
              <div class="post-text">
                <h1>&nbsp; Memo</h1>
                <form action="/save" method="POST">
                  <input name="title" id="titlename" type="text" placeholder="Title in here" /><br /><br />
                  <div id="editor"></div>
                  <input type="hidden" id="quill_html" name="content" />
                  <input type="submit" class="bottom-btn" value="등록" />
                </form>
              </div>
              <div class="right-list"></div>
            </article>
          </div>
        </div>
      </section>
    </div>
    <div class="line">
      <footer>
        <div>
          <p>Copyright 2023 maid by sh. <br /></p>
        </div>
      </footer>
    </div>
    <script></script>
  </body>
</html>
