<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Study cafe</title>
    <link rel="stylesheet" href="css/main_2.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&display=swap" rel="stylesheet">
  </head>
  <body class="cafe">
    <div class="wrapper">
      <header class="header">
        <div class="line">
          <nav>
            <div class="top-nav">
              <p class="nav-text"></p>
              <a class="logo" href="main"> Record<span> &nbsp;Your Life</span> </a>
              <ul class="top-nav2">
                <li>
                  <a href="/main">main</a>
                </li>
                <li>
                  <a href="/list">List</a>
                </li>
    
                <li>
                  <a href="/memo">MEMO</a>
                </li>
                <!-- <li> 
                  <a href="/comunity">comunity</a>
                </li> -->
                <li>
                  <form action="/logout" class="loged" method="get">
                    <input type="submit" value="log out" />
                  </form>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!--메인 섹션 -->
      <section id="home-section" style="background: url(./img/wallpaper.png) fixed;">
        <div class="introBody">
          <h1 class="stylefont">
            <span>Today.</span>
            <span>&nbsp;&nbsp;Memory,</span>
            <span>Remember.</span>
          </h1>
          <div class="textBody">
            
            <img class="three" src="img/photo.png" />
            <h2 class="comment"> 오늘은,<br>
              어땠나요? <br><br>
              <span> 괜찮다면..</span><br>
              <span>기록, 한줄. 어떠세요?</span>
            </h2>
            <br />
          </div>         
      </section>

      <footer>
        <p>Copyright 2023 maid by sh. <br /></p>
      </footer>
    </div>
    <script src="./main.js"></script>
  </body>
</html>
