<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Study Cafe</title>
    <link rel="stylesheet" href="css/responsee.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" />
    <link rel="stylesheet" href="css/template-style.css" />
    <script src="/js/build/ckeditor.js"></script>
  </head>
  <body class="cafe">
    <div class="wrapper">
      <header class="header">
        <div class="line">
          <nav>
            <div class="top-nav">
              <p class="nav-text"></p>
              <a class="logo" href="main"> Record<span> &nbsp;Your Life</span> </a>
              <ul class="top-nav2">
                <li>
                  <a href="/main">main</a>
                </li>
                <li>
                  <a href="/list">List</a>
                </li>

                <li>
                  <a href="/memo">MEMO</a>
                </li>
                <li>
                  <form action="/logout" class="loged" method="get">
                    <input type="submit" value="log out" />
                  </form>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <section id="article-section" class="line">
        <div class="mainBody">
          <div class="one_ textBody">
            <article class="header">
              <div class="post-text">
                <h1>&nbsp; Memo</h1>
                <form action="/save" method="POST">
                  <input name="title" id="titlename" type="text" placeholder="Title in here" /><br /><br />
                  <textarea name="content" id="content"></textarea><br />
                  <input type="submit" class="bottom-btn" value="등록" />
                </form>
                <script>
                  ClassicEditor.create(document.querySelector('#content'), {
                    language: 'ko'
                  });
                </script>
              </div>
              <div class="right-list">
                <!-- 나중에 뭘 채울 공간 -->
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>
    <div class="line">
      <footer>
        <div>
          <p>Copyright 2023 maid by sh. <br /></p>
        </div>
      </footer>
    </div>
  </body>
</html>
