table {
  width: 1000px;
  align-items: center;
  background-color: #ffffff;
  margin-left: 50px;
  margin-top: 50px;
}

table th,
table td {
  border: 1px solid black;
  padding: 10px;
}

table th {
  text-align: center;
}

table.table-bordered {
  border: 1px solid #ddd;
}

table.table-hover {
  cursor: pointer;
}

table.table-hover > tbody > tr:hover {
  background-color: #ffffff;
}
