@font-face {
  src: url(../fonts/Simplegrinches.ttf);
  font-family: Simplegrinches;
}

* {
  margin-bottom: 14px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  z-index: 1;
}

.logo img {
  width: 160px;
}
.logo {
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  font-size: 2em;
  text-decoration: none;
  letter-spacing: 2px;
}

ul {
  float: right;
  display: flex;
}

li {
  list-style: none;
  margin: 0 20px;
}

li a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  padding: 4px 10px;
  color: black;
}

li a:hover,
li a.active {
  background: #c8b6a6;
  color: black;
}

/* #c8b6a6 */
