@import url('http://fonts.goolepis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

img {
  width: 160px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 40px 0;
}

.container .card {
  position: relative;
  width: 340px;
  height: 440px;
  border-radius: 15px;
  margin: 30px;
}

.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.container .card:hover .box {
  transform: scale(1.1);
}

.container .card .box .content {
  padding: 20px;
  text-align: center;
}

.container .card .box .content h3 {
  color: #777;
  z-index: 1;
  transition: 0.5s;
  font-size: 1.8em;
}

.container .card .box .content h3 {
  z-index: 1;
  transition: 0.5s;
  font-size: 1.4em;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.container .card .box .content p {
  font-size: 1em;
  z-index: 1;
  transition: 0.5s;
}

.bottom {
  margin-bottom: 20px;
}

.line_height1 {
  line-height: 3.2;
  margin-bottom: 20px;
}

.line_height2 {
  line-height: 1.8;
}

.container .card .box .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #c8b6a6;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container .card .box .content a:hover {
  color: #fff;
}
