<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ 페이지</title>
    <link rel="stylesheet" type="text/css" href="./static/css/FAQ.css">
    <link rel="stylesheet" type="text/css" href="./static/css/FAQ_header.css">
</head>
<body>

    <div class="header_container">
        <header id="navbar">
            <a href="main_homepage.html" class="logo">New Car</a>       
            <ul>
                <li><a href="main_homepage.html" class="active">Detail</a></li>
                <li><a href="#">Sub</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </header>
    </div>



    <!-- 이거 값만 바꿔서 쓰세요!! -->

    <div th:each="item : ${items}" class="dropdown">
        <div class="title_box">
            <span th:text="${item.title}"></span>
            <div class="answerYesNo" th:text="${item.answerStatus}"></div>
        </div>
        <div class="option">
            <div class="date" th:text="${item.date}"></div>
            <div class="content" th:text="${item.content}"></div>
            <div class="admin" th:text="${item.adminName}"></div>
            <div class="admin_comment" th:text="${item.adminComment}"></div>
        </div>
    </div><br>


    <!-- 아래 거는 일단 놔둬주세요!! -->


    <!-- <div class="dropdown">
        <div class="title_box">
            이 문제 해결해주세요
            <div class="answerYesNo">답변 대기</div>
        </div>
        <div class="option">
            <div class="date">질문 날짜</div>
            <div class="content">질문 내용</div>
            <div class="admin">admin 닉네임</div>
            <div class="admin_comment">admin 답변</div>
        </div>
    </div><br>


    <div class="dropdown">
        <div class="title_box">
            이 문제 해결해주세요
            <div class="answerYesNo">답변 대기</div>
        </div>
        <div class="option">
            <div class="date">질문 날짜</div>
            <div class="content">질문 내용</div>
            <div class="admin">admin 닉네임</div>
            <div class="admin_comment">admin 답변</div>
        </div>
    </div><br>


    <div class="dropdown">
        <div class="title_box">
            이 문제 해결해주세요
            <div class="answerYesNo">답변 대기</div>
        </div>
        <div class="option">
            <div class="date">질문 날짜</div>
            <div class="content">질문 내용</div>
            <div class="admin">admin 닉네임</div>
            <div class="admin_comment">admin 답변</div>
        </div>
    </div><br>

    <div class="dropdown">
        <div class="title_box">
            이 문제 해결해주세요
            <div class="answerYesNo">답변 대기</div>
        </div>
        <div class="option">
            <div class="date">질문 날짜</div>
            <div class="content">질문 내용</div>
            <div class="admin">admin 닉네임</div>
            <div class="admin_comment">admin 답변</div>
        </div>
    </div><br>

    <div class="dropdown">
        <div class="title_box">
            이 문제 해결해주세요
            <div class="answerYesNo">답변 대기</div>
        </div>
        <div class="option">
            <div class="date">질문 날짜</div>
            <div class="content">질문 내용</div>
            <div class="admin">admin 닉네임</div>
            <div class="admin_comment">admin 답변</div>
        </div>
    </div><br> -->



    <script defer src="./static/js/FAQ.js"></script>
</body>
</html>
