body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 80vh;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ion-icon {
    height: 60px;
    padding: 10px;
    font-size: 32px;
    margin-left: 5%;
    margin-right: 5%;
}

div input {
    width: 100%;
    height: 50px;
    font-size: large;
}

.select {
    margin-top: 100px;
    text-align: center;
    font-size: 64px;
    word-spacing: .7em;
}

.select-text {
    text-align: center;
    word-spacing: 5.5em;
}