@font-face {
    src: url(/sprint/src/main/resources/static/fonts/Simplegrinches.ttf);
    font-family: Simplegrinches;
}

header {
    border-bottom: 1px solid white;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    color: white;
    position: absolute;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

li {
    margin: 0 10px; 
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-family: Simplegrinches;
}