<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Car</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main_homepage.css">
    <link rel="stylesheet" type="text/css" href="/static/css/scroll_ani.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
</head>
<body>
   
  <section class="banner">
    <div class="container">
      
      
      <div class="car_video">

        <video source src="./static/images/main_page_video.mp4" autoplay loop muted type="video/mp4"></video>

        <header>
          <div>
              <a class="logo">New Car</a>
          </div>
          <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Sub</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
        </header>
      

        <!-- 스크롤 애니매이션 -->

        <div class="scroll-downs">
          <div class="mousey">
          <div class="scroller"></div>
          </div>
        </div>

        <!-- 스크롤 애니매이션 -->

      </div>



      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>


      <div class="content">
        <h2>
          <span style="--i:1;">S</span>
          <span style="--i:2;">t</span>
          <span style="--i:3;">i</span>
          <span style="--i:4;">c</span>
          <span style="--i:5;">k</span>
          <span style="--i:6;">y</span>
        </h2>
      </div>

      <div class="sec">
        <h3>Thanks For Watching :)</h3>
      </div>

    </div>
  </section>
					
</body>
</html>