<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Car</title>
    <link rel="stylesheet" type="text/css" href="css/main_homepage.css">
    <link rel="stylesheet" type="text/css" href="css/scroll_ani.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
</head>
<body>
   
  <section class="banner">
    <div class="container">
      
      
      <div class="car_video">

        <div class="header_container">
            <header id="navbar">
              <a href="/" class="logo"><img src="images/newcar.png" ></a>
              <ul th:if="${session.user == null}">
                <li><a href="/detail" class="active">소개</a></li>
                <li><a href="/subpage">구독</a></li>
                <li><a href="/guestboard">문의</a></li>
                <li><a href="/login">로그인</a></li>
              </ul>
              <ul th:unless="${session.user == null}">
                  <li><a href="#" class="active">소개</a></li>
                  <li><a href="/subpage">구독</a></li>
                  <li><a href="/counsel">문의</a></li>
                  <li><a href="/myinfo">내소개</a></li>
              </ul>
            </header>
          </div>

        <video source src="images/main_page_video.mp4" autoplay loop muted type="video/mp4"></video>

        
      

        <!-- 스크롤 애니매이션 -->

        <div class="scroll-downs">
          <div class="mousey">
          <div class="scroller"></div>
          </div>
        </div>

        <!-- 스크롤 애니매이션 -->

      </div>



      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>
      <div class="sec"></div>


      <div class="content">
        <h2>
          <span style="--i:1;">S</span>
          <span style="--i:2;">t</span>
          <span style="--i:3;">i</span>
          <span style="--i:4;">c</span>
          <span style="--i:5;">k</span>
          <span style="--i:6;">y</span>
        </h2>
      </div>

      <div class="sec">
        <h3>Thanks For Watching :)</h3>
      </div>

    </div>
  </section>	
</body>
</html>