<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/subpage.css">
    <link rel="stylesheet" type="text/css" href="/css/FAQ_header.css">
</head>
<body>
    <div class="header_container">
        <header id="navbar">
          <a href="/" class="logo"><img src="images/newcar.png" ></a>
          <ul th:if="${session.user == null}">
            <li><a href="/detail" class="active">소개</a></li>
            <li><a href="/subpage">구독</a></li>
            <li><a href="/guestboard">문의</a></li>
            <li><a href="/login">로그인</a></li>
          </ul>
          <ul th:unless="${session.user == null}">
              <li><a href="#" class="active">소개</a></li>
              <li><a href="/subpage">구독</a></li>
              <li><a href="/counsel">문의</a></li>
              <li><a href="/myinfo">내소개</a></li>
          </ul>
        </header>
      </div>
    <div class="container">
        <div class="card">
            <div class="content">
                <h2>Basic</h2>
                <p class="Basic">
                    1달 100,000원<br>
                    뉴카 서비스 이용<br>
                    1주일 무료 체험 가능<br>
                    횟수 제한 없는 호출
                </p>
                <!-- <form th:unless="${session.user==null}" action="/subpage" method="post">
                    <input type="hidden" name="subtype" th:value="Basic" />
                    <button type="submit" class="reg-btn">신청하기</button>
                </form> -->
                <a th:if="${session.user==null}" href="/login" class="reg-btn">신청하기</a>
                <a th:unless="${session.user==null}" href="/subcheck?subtype=Basic" class="reg-btn">신청하기</a>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <h2>Premium</h2>
                <p>
                    1달 130,000원<br>
                    뉴카 서비스 이용<br>
                    1주일 무료 체험 가능<br>
                    횟수 제한 없는 호출<br>
                    긴급 배차 지원 서비스<br>
                    사고시 100% 자사 책임
                </p>
                <!-- <form th:unless="${session.user==null}" action="/subpage" method="post">
                    <input type="hidden" name="subcheck" th:value="Premium" />
                    <button type="submit" class="reg-btn">신청하기</button>
                </form> -->
                <a th:if="${session.user==null}" href="/login" class="reg-btn">신청하기</a>
                <a th:unless="${session.user==null}" href="/subcheck?subtype=Premium" class="reg-btn">신청하기</a>
            </div>
        </div>
    </div>
</body>
</html>