<!-- <div th:text="${qBoardList}"></div>
<div th:text="'전체 글 ('+${cnt}+')'"></div> -->
<div th:each="i,state:${qBoardList}" th:if="${state.index}>=${page*6-6} and ${state.index}<${page*6}">
    <div th:text="${state.index}+'번째 인덱스'"></div>
    <div th:text="${i}"></div>
    <div th:text="${state}"></div>
</div>
<th:block th:each="pageNumber:${#numbers.sequence(startPage, endPage)}">
    <a th:if="${page}==${pageNumber}" style="font-weight: bold;" th:href="@{/test(page=${pageNumber})}" th:text="${pageNumber}"></a>
    <a th:unless="${page}==${pageNumber}" th:href="@{/test(page=${pageNumber})}" th:text="${pageNumber}"></a>
    <!-- <a th:if="${page eq pageNumber}" style="font-weight: bold;" th:href="@{/test(page=${pageNumber})}" th:text="${pageNumber}"></a>
    <a th:unless="${page eq pageNumber}" th:href="@{/test(page=${pageNumber})}" th:text="${pageNumber}"></a> -->
</th:block>






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/FAQ.css">
    <link rel="stylesheet" type="text/css" href="/css/FAQ_header.css">
</head>
<body>
    <div class="header_container">
        <header id="navbar">
            <a href="/" class="logo">New Car</a>       
            <ul th:if="${session.user == null}">
                <li><a href="#" class="active">Detail</a></li>
                <li><a href="/subpage">Sub</a></li>
                <li><a href="/guestboard">FAQ</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
            <ul th:unless="${session.user == null}">
                <li><a href="#" class="active">Detail</a></li>
                <li><a href="/subpage">Sub</a></li>
                <li><a href="/counsel">FAQ</a></li>
                <li><a href="/myinfo">MyInfo</a></li>
            </ul>
        </header>
    </div>
    <div th:if="${session.user.userId eq 'admin'}" class="write_list">
        <!-- 내용 -->
    </div>
    <div th:unless="${session.user.userId eq 'admin'}" class="write_list">
        <!-- 내용 -->
    </div>
    <script defer src="/js/FAQ.js"></script>
</body>
</html>
