  
  @import url('http://fonts.goolepis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
  }

  body {
    margin: 0; 
  }

  video::-webkit-media-controls {
    display: none !important;
  }
  
  video::-webkit-media-controls-enclosure {
    display: none !important;
  }
  
  video::-webkit-media-controls-panel {
    display: none !important;
  }
  
  video::-webkit-media-controls-play-button {
    display: none !important;
  }
  
  video {
    width: 100%;
    padding: 0;
    height: 100vh;
    object-fit: cover;
    box-sizing: border-box;
  }

  

  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
  }

  .sec {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    scroll-snap-align: center;
  }

  h3 {
    color: #fff;
    font-size: 10vw;
    text-align: center;
    margin: 0 50px;
  }

  .sec:nth-child(2) {
    background: #f436ee url(../images/smile.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
  }

  .sec:nth-child(3) {
    background: #0f0 url(../images/familiy.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
  }

  .sec:nth-child(4) {
    background: #00f url(../images/couple.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
  }

  .sec:nth-child(5) {
    background: #ff9800 url(../images/car_camp.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
  }

  .sec:nth-child(6) {
    background: #f436ee url(../images/mother.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
  }

  .sec:nth-child(7) {
    background: #0f0 url(../images/travel.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: multiply;
  }

  .content {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
  }

  .content h2 {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .content h2 span {
    position: sticky;
    top: 0;
    line-height: 100vh;
    height: 100vh;
    color: #fff;
    font-size: 14vw;
    margin-top: calc(100vh * var(--i));
  }
