.subscribe .single-box {
  margin-top: 300px;
  position: relative;
  text-align: left;
  border-radius: 5px;
  background: #1a76d1;
  transition: all 0.3s ease-out 0s;
}
.subscribe .single-box .inner {
  overflow: hidden;
  position: relative;
  padding: 30px;
}
.subscribe .single-box:before {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  background: #1a76d1;
  opacity: 0;
  filter: blur(10px);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.subscribe .single-box:hover:before {
  opacity: 0.8;
}
.subscribe .single-box:hover {
  transform: translateY(-5px);
}

.subscribe h4 {
  font-size: 2em;
  font-weight: 700;
}
.subscribe li {
  color: #fff;
}

/* 신청하기 글 */
.subscribe .single-box a {
  color: #fff;
  margin-top: 25px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
