<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/deletecheck.css" />
  </head>

  <body>
    <div class="div-logo">
      <a href="/" class="logo"><img src="images/newcar.png" /></a>
    </div>
    <div class="main">
      <h1>문의글 삭제</h1>
      <br /><br />
      <p>삭제 후에는 데이터를 복구할 수 없습니다.</p>
      <a th:href="@{/deleteq(boardSeq=${boardSeq})}" class="reg-btn">삭제</a>
      <a href="javascript:history.back();" class="reg-btn">취소</a>
    </div>
  </body>
</html>
