<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link rel="stylesheet" href="/css/FAQ_header2.css" />
    <link rel="stylesheet" href="/css/detail.css" />
    <link rel="stylesheet" href="/css/slider.css" />
  </head>

  <body>
    <div class="header_container">
      <header id="navbar">
        <a href="/" class="logo"><img src="images/newcar.png" /></a>
        <ul th:if="${session.user == null}">
          <li><a href="/detail" class="active">소개</a></li>
          <li><a href="/subpage">구독</a></li>
          <li><a href="/guestboard">문의</a></li>
          <li><a href="/login">로그인</a></li>
        </ul>
        <ul th:if="${session.user != null} and ${session.user.userId!='admin'}">
          <li><a href="/detail" class="active">소개</a></li>
          <li><a href="/subpage">구독</a></li>
          <li><a href="/counsel">문의</a></li>
          <li><a href="/myinfo">내정보</a></li>
        </ul>
        <ul th:if="${session.user != null} and ${session.user.userId=='admin'}">
          <li><a href="/detail" class="active">소개</a></li>
          <li><a href="/subpage">구독</a></li>
          <li><a href="/counsel">문의</a></li>
          <li><a href="/usersub">구독내역 관리</a></li>
        </ul>
      </header>
    </div>
    <section class="about" id="about">
      <div class="title">
        <h2>New car</h2>
        <p>more comport , more experience</p>
      </div>
      <div class="content">
        <div class="textBox-main">
          <a>
            <h2>우리는 꿈꿔왔습니다.</h2>
            <br />
            편하고, 피로하지 않은 이동. 이제 운전하면서 이동하는 시대는 끝났습니다.<br />
            차안에서 휴식을 취하거나, 취미를 즐기면서 이동하는 시대가 도래했습니다.<br />
            하지만, 그런 높은 수준의 차는 이용하는데 비용이 많이 발생합니다.<br /><br /><br />
            <h2>우리는 고민했습니다.</h2>
            <br />
            누구나 경제적으로 서비스를 누릴수는 없을까?<br />
            돈의 부유함을 떠나서, 누구나 최신기술의 무인자동차를<br />
            쉽게 이용하게 할 수는 없을까?<br /><br />
            그래서.<br /><br /><br />
            <h2>시작했습니다.</h2>
          </a>
        </div>
        <div class="slider">
          <input type="radio" name="slide" id="slide1" checked />
          <input type="radio" name="slide" id="slide2" />
          <input type="radio" name="slide" id="slide3" />
          <input type="radio" name="slide" id="slide4" />
          <ul id="imgholder" class="imgs">
            <li><img src="/images/driving-1096517_1280.jpg" /></li>
            <li><img src="/images/nohandle.png" /></li>
            <li><img src="/images/driving-407181_1280.jpg" /></li>
            <li><img src="/images/car-2359514_1280.jpg" /></li>
          </ul>

          <div class="bullets">
            <label for="slide1">&nbsp;</label>
            <label for="slide2">&nbsp;</label>
            <label for="slide3">&nbsp;</label>
            <label for="slide4">&nbsp;</label>
          </div>
        </div>
      </div>
    </section>

    <section class="services" id="services">
      <div class="title">
        <h2>Our Services</h2>
        <br /><br />
      </div>
      <div class="content">
        <div class="servicesBox">
          <img src="/images/icon1.png" />
          <h2>편안함</h2>
          <p>
            "친구들과 함께 하는 여행, 즐거움에만 집중<br />하시고, 운전은 저희 서비스에 맡겨보세요.<br />
            책을 읽거나, 영화를 보며 여유로운 시간을<br />
            보낼 수 있습니다."
          </p>
        </div>

        <div class="servicesBox">
          <img src="/images/icon2.png" />
          <h2>접근성</h2>
          <p>
            "저희 서비스는 누구나 이용할 수 있도록<br />
            경제적으로 탄력적인 가격을 제공합니다.<br />
            차량 소유 비용이 부담스러우신 분들도, <br />우리의 서비스를 이용해 보세요.
          </p>
        </div>

        <div class="servicesBox">
          <img src="/images/icon3.png" />
          <h2>경제성</h2>
          <p>
            "차량 유지비용, 유류비, 보험료 등 고려하면<br />
            월 50만원이 넘는 비용이 발생합니다.<br />
            하지만 우리 서비스는 월 10만원으로도<br />
            충분히 이용하실 수 있습니다."
          </p>
        </div>

        <div class="servicesBox">
          <img src="/images/icon4.png" />
          <h2>안전</h2>
          <p>
            "저희 서비스를 이용하시면 음주운전으로<br />
            인한 사고 위험을 완전히 제거할 수 있습니다.<br />
            친구들과의 즐거운 술자리 후, 안전하게 <br />귀가하실 수 있습니다."
          </p>
        </div>

        <div class="servicesBox">
          <img src="/images/icon5.png" />
          <h2>시간 절약</h2>
          <p>
            "출근길 교통체증, 주말의 장거리 운전으로<br />
            인한 피로감 등으로 소중한 시간을 낭비하지<br />
            마세요. 저희 서비스를 이용하면, 이동 시간을<br />
            효율적으로 활용하실 수 있습니다."
          </p>
        </div>

        <div class="servicesBox">
          <img src="/images/icon6.png" />
          <h2>편의성</h2>
          <p>
            "우리의 서비스는 24시간 운영됩니다. 늦은 밤<br />
            귀가길이나 이른 아침 출근길, 언제든지<br />
            편리하게 이용하실 수 있습니다."
          </p>
        </div>
      </div>
    </section>

    <section class="work" id="work">
      <div class="title">
        <h2>NOW</h2>
        <br /><br />
      </div>
      <div class="content">
        <img class="down" src="/images/down.png" />
      </div>
    </section>
  </body>
</html>
