<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/findid.css" />
  </head>

  <body>
    <div class="div-logo">
      <a href="/" class="logo"><img src="images/newcar.png" /></a>
    </div>
    <div class="main">
      <h1>아이디 찾기</h1>
      <p class="txt p-txt1">비밀번호를 찾고자하는 아이디를 입력해주세요.</p>
      <br /><br />
      <form action="/findid" method="post">
        <div class="div-idcheck">
          <span class="txt p-txt2">아이디</span>
          <input class="ipt-idcheck" name="userId" />
        </div>
        <br /><br /><br /><br />
        <button class="reg-btn" type="submit">아이디 확인</button>
      </form>
    </div>
  </body>
</html>
