<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guestboard 페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/FAQ.css" />
    <link rel="stylesheet" type="text/css" href="/css/FAQ_header3.css" />
  </head>

  <body>
    <div class="header_container">
      <header id="navbar">
        <a href="/" class="logo"><img src="images/newcar.png" /></a>
        <ul th:if="${session.user == null}">
          <li><a href="/detail" class="active">소개</a></li>
          <li><a href="/subpage">구독</a></li>
          <li><a href="/guestboard">문의</a></li>
          <li><a href="/login">로그인</a></li>
        </ul>
        <ul th:if="${session.user != null} and ${session.user.userId!='admin'}">
          <li><a href="/detail" class="active">소개</a></li>
          <li><a href="/subpage">구독</a></li>
          <li><a href="/counsel">문의</a></li>
          <li><a href="/myinfo">내정보</a></li>
        </ul>
        <ul th:if="${session.user != null} and ${session.user.userId=='admin'}">
          <li><a href="/detail" class="active">소개</a></li>
          <li><a href="/subpage">구독</a></li>
          <li><a href="/counsel">문의</a></li>
          <li><a href="/usersub">구독내역 관리</a></li>
        </ul>
      </header>
    </div>
    <div class="div_list">
      <div class="div_writelist">
        <div
          th:each="QuestionBoard, state : ${qBoardList}"
          class="dropdown"
          th:if="(${state.index}>=${page*6-6})and(${state.index}<${page*6})">
          <div class="title_box">
            <span th:text="${QuestionBoard.title}"></span>
            <div class="answerYesNo" th:text="${QuestionBoard.state}"></div>
          </div>
          <div class="option">
            <div class="date" th:text="${QuestionBoard.writedate}"></div>
            <div class="content" th:text="${QuestionBoard.content}"></div>
            <div th:if="${QuestionBoard.state eq '대기 상태'}" class="modify_delete">
              <!-- <a th:href="@{/modifyq(boardSeq=${QuestionBoard.boardSeq})}">수정</a>
                    <a th:href="@{/deleteq(boardSeq=${QuestionBoard.boardSeq},userId=${session.user.userId})}">삭제</a> -->
            </div>
            <div th:unless="${QuestionBoard.state eq '대기 상태'}">
              <div class="admin" th:text="관리자"></div>
              <div class="admin_comment" th:text="${QuestionBoard.answer}"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="qnabtn_paging">
        <div class="div-writeqflex">
          <a class="btn-writeq" href="/writeq">문의하기</a>
        </div>
        <div class="div_pageflex">
          <th:block th:each="pageNumber:${#numbers.sequence(startPage, endPage+1)}">
            <a
              class="paging-btn"
              th:if="${page}==${pageNumber}"
              style="font-weight: bold"
              th:href="@{/guestboard(page=${pageNumber})}"
              th:text="${pageNumber}"></a>
            <a
              class="paging-btn"
              th:unless="${page}==${pageNumber}"
              th:href="@{/guestboard(page=${pageNumber})}"
              th:text="${pageNumber}"></a>
          </th:block>
        </div>
      </div>
    </div>
    <script defer src="/js/FAQ.js"></script>
  </body>
</html>
