<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/login2.css" />
    <title>login form</title>
  </head>
  <body>
    <div class="container">
      <div class="blueBg">
        <div class="box signin">
          <h2>계정이 있으십니까?</h2>
          <button type="button" class="signinBtn">로그인</button>
        </div>
        <div class="box signup">
          <h2>계정이 없으십니까?</h2>
          <button type="button" class="signupBtn">회원가입</button>
        </div>
      </div>
      <div class="formBx">
        <div class="form signinform">
          <form action="/login" method="post">
            <!-- 폼액션 ! -->
            <h3>로그인</h3>
            <input type="text" placeholder="아이디" name="userId" />
            <input type="password" placeholder="비밀번호" name="userPassword" />
            <input type="submit" value="로그인" />
            <a href="/findid" class="forgot">비밀번호를 잊으셨나요?</a>
          </form>
        </div>

        <div class="form signupform">
          <form action="/resister" method="post">
            <!-- 폼액션 ! -->
            <h3>회원가입</h3>
            <input type="text" placeholder="아이디" name="userId" />
            <input type="password" placeholder="비밀번호" name="userPassword" />
            <input type="text" placeholder="닉네임" name="userNickname" />
            <input type="tel" placeholder="전화번호" name="phone" />
            <input type="text" placeholder="주소" name="address" />
            <input type="submit" value="회원가입" />
          </form>
        </div>
      </div>
    </div>

    <script>
      const signinBtn = document.querySelector('.signinBtn');
      const signupBtn = document.querySelector('.signupBtn');
      const formBx = document.querySelector('.formBx');
      const body = document.querySelector('body');

      signupBtn.onclick = function () {
        formBx.classList.add('active');
        body.classList.add('active');
      };
      signinBtn.onclick = function () {
        formBx.classList.remove('active');
        body.classList.remove('active');
      };
    </script>
  </body>
</html>
