<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/subcheck.css" />
</head>

<body>
    <div class="div-logo">
        <a href="/" class="logo"><img src="images/newcar.png" ></a>
        <!-- <p id="logo">NEW CAR</p> -->
    </div>
    <div class="main">
        <h1>문의글 수정</h1>
        <p class="txt p-txt2">글을 수정하시겠습니까?</p>
        <form action="/modifycheck" method="post">
            <input type="hidden" name="boardSeq" th:value="${boardSeq}" />
            <input type="hidden" name="title" th:value="${title}" class="title" />
            <textarea name="content" style="display: none;" th:text="${content}" class="content"></textarea>
            <div class="div-btnflex">
                <button type="submit" class="reg-btn">수정</button>
                <a href="javascript:history.back();" class="a-cancel">취소</a>
            </div>
        </form>
    </div>
</body>

</html>