<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/findid.css" />
  </head>

  <body>
    <div class="div-logo">
      <a href="/" class="logo"><img src="images/newcar.png" /></a>
      <!-- <p id="logo">NEW CAR</p> -->
    </div>
    <div class="main">
      <h1>비밀번호 변경</h1>
      <p class="txt p-txt1">변경하고자 하는 비밀번호를 입력해주세요.</p>
      <form action="/resetpassword" method="post">
        <div class="div-idcheck">
          <input type="hidden" name="userId" th:value="${userId}" />
          <p class="p-id" th:text="'아이디 '+${userId}"></p>
          비밀번호 <input name="userPassword" /><br />
          <button class="ps-btn" type="submit">비밀번호 재설정</button>
        </div>
      </form>
    </div>
  </body>
</html>
