<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/subcheck.css" />
</head>

<body>
    <div class="div-logo">
        <a href="/" class="logo"><img src="images/newcar.png" ></a>
        <!-- <p id="logo">NEW CAR</p> -->
    </div>
    <div class="main">
        <h1>구독 신청</h1>
        <p class="txt p-txt1">구독을 하시겠습니까?</p>
        <p class="txt p-txt2">구독 버튼을 클릭하시면 구독 신청이 완료됩니다.</p>
        <form action="/subcheck" method="post">
            <input type="hidden" name="subtype" th:value="${subtype}" />
            <div class="div-btnflex">
                <button type="submit" class="reg-btn">구독</button>
                <a href="javascript:history.back();" class="a-cancel">취소</a>
            </div>
        </form>
    </div>
</body>

</html>