<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/deletecheck.css" />
  </head>

  <body>
    <div class="div-logo">
      <a href="/" class="logo"><img src="images/newcar.png" /></a>
      <!-- <p id="logo">NEW CAR</p> -->
    </div>
    <div class="main">
      <h1>회원 탈퇴</h1>
      <p>탈퇴 후에는 아이디와 데이터는 복구할 수 없습니다.</p>
      <a href="/deleteuser" class="reg-btn">회원탈퇴</a>
      <a href="javascript:history.back();" class="cancle-btn">취소</a>
    </div>
  </body>
</html>
