<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link rel="stylesheet" href="/css/FAQ_header.css" />
    <link rel="stylesheet" href="/css/writeq.css" />
    <link rel="stylesheet" href="/css/slider.css" />
  </head>

  <body>
    <div class="header_container">
      <header id="navbar">
        <a href="/" class="logo"><img src="images/newcar.png" /></a>
        <ul th:if="${session.user == null}">
          <li><a href="/detail" class="active">소개</a></li>
          <li><a href="/subpage">구독</a></li>
          <li><a href="/guestboard">문의</a></li>
          <li><a href="/login">로그인</a></li>
        </ul>
        <ul th:unless="${session.user == null}">
          <li><a href="#" class="active">소개</a></li>
          <li><a href="/subpage">구독</a></li>
          <li><a href="/counsel">문의</a></li>
          <li><a href="/myinfo">내소개</a></li>
        </ul>
      </header>
    </div>
    <div class="main">
      <form action="/writeq" method="post">
        <div class="formbox">
          <h2>문의 남기기</h2>
          <input name="title" placeholder="제목" />
          <input name="content" placeholder="문의 사항을 남겨주세요" />
          <input
            class="intitle"
            th:if="${session.user != null}"
            type="hidden"
            name="userId"
            th:value="${session.user.userId}" />
          <input class="incontent" th:unless="${session.user != null}" type="hidden" name="userId" value="guest" />
          <p class="caution" th:if="${session.user==null}">
            게스트 회원은 문의글의 수정과 삭제가 불가하오니 확인하고 등록해주시기 바랍니다.
          </p>
          <button type="submit">등록</button>
        </div>
      </form>
    </div>
  </body>
</html>
