<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Car</title>
    <link rel="stylesheet" type="text/css" href="/css/main_homepage.css">
    <link rel="stylesheet" type="text/css" href="/css/mouse_scroll_ani.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <section class="banner">
        <div class="container_a">


            <div class="car_video">


                <div class="header_container">
                    <header id="navbar">
                        <a href="/" class="logo"><img src="/images/main_logo.png"></a>
                        <ul th:if="${session.user == null}">
                            <li><a href="/detail" class="active">소개</a></li>
                            <li><a href="/subpage">구독</a></li>
                            <li><a href="/guestboard">문의</a></li>
                            <li><a id="move">로그인</a></li>
                        </ul>
                        <ul th:unless="${session.user == null}">
                            <li><a href="/detail" class="active">소개</a></li>
                            <li><a href="/subpage">구독</a></li>
                            <li><a href="/counsel">문의</a></li>
                            <li><a href="/myinfo">내소개</a></li>
                        </ul>
                    </header>
                </div>

                <div class="text">모든 사람이 자유롭고 행복하게<br>이동하는 세상을 만듭니다</div>

                <video source src="/images/main_page_video.mp4" autoplay loop muted type="video/mp4"></video>







                <!-- 스크롤 애니매이션 -->

                <div class="scroll-downs">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                </div>

                <!-- 스크롤 애니매이션 -->

            </div>



            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>
            <div class="sec"></div>


            <div class="content">
                <h2>
                    <span style="--i:1;">N</span>
                    <span style="--i:2;">E</span>
                    <span style="--i:3;">W</span>
                    <span style="--i:4;">C</span>
                    <span style="--i:5;">A</span>
                    <span style="--i:6;">R</span>
                </h2>
            </div>

            <div class="sec">
                <p class="main_footer">우리의 세계는<br>더 넓어질 수 있다</p>
            </div>

            <div th:if="${session.user}==null" class="wrap">

                <div class="container">
                    <div class="blueBg">
                        <div class="box signin">
                            <h2>계정이 있으십니까?</h2>
                            <button type="button" class="signinBtn">Sign in</button>
                        </div>
                        <div class="box signup">
                            <h2>계정이 없으십니까?</h2>
                            <button type="button" class="signupBtn">Sign up</button>
                        </div>
                    </div>
                    <div class="formBx">
                        <div class="form signinform">
                            <form action="/login" method="post">
                              <!-- 폼액션 ! -->
                              <h3>로그인</h3>
                              <input type="text" placeholder="아이디" name="userId" />
                              <input type="password" placeholder="비밀번호" name="userPassword" />
                              <input type="submit" value="로그인" />
                              <a href="/findid" class="forgot">비밀번호를 잊으셨나요?</a>
                            </form>
                          </div>

                            <div class="form signupform">
                                <form action="/resister" method="post">
                                  <!-- 폼액션 ! -->
                                  <h3>회원가입</h3>
                                  <input type="text" placeholder="아이디" name="userId" required/>
                                  <input type="password" placeholder="비밀번호" name="userPassword" required />
                                  <input type="text" placeholder="닉네임" name="userNickname" required />
                                  <input type="tel" placeholder="전화번호" name="phone" required/>
                                  <input type="text" placeholder="주소" name="address" required/>
                                  <input type="submit" value="Register" />
                                </form>
                              </div>
                        </div>
                    </div>
                </div>
            </div>

            <script defer src="/js/login.js"></script>
</body>

</html>