<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
    <link rel="stylesheet" href="/css/FAQ_header.css" />
    <link rel="stylesheet" href="/css/modifyq.css" />
</head>

<body>
    <div class="header_container">
        <header id="navbar">
            <a href="/" class="logo"><img src="images/newcar.png"></a>
            <ul th:if="${session.user == null}">
                <li><a href="/detail" class="active">소개</a></li>
                <li><a href="/subpage">구독</a></li>
                <li><a href="/guestboard">문의</a></li>
                <li><a href="/login">로그인</a></li>
            </ul>
            <ul th:unless="${session.user == null}">
                <li><a href="#" class="active">소개</a></li>
                <li><a href="/subpage">구독</a></li>
                <li><a href="/counsel">문의</a></li>
                <li><a href="/myinfo">내소개</a></li>
            </ul>
        </header>
    </div>
    <div class="dropdown">
        <form action="/modifyq" method="post">
            <div th:text="${qBoard.title}" class="title_box">
                <div class="answerYesNo"></div>
            </div>
            <div class="option">
                <input type="hidden" name="boardSeq" th:value="${qBoard.boardSeq}" />
                <input name="title" th:value="${qBoard.title}" class="title" />
                <br>
                <textarea name="content" th:text="${qBoard.content}" class="content"></textarea>
                <div class="modify_delete">
                    <button class="btn-amend" type="submit">수정</button>
                    <a href="javascript:history.back();">취소</a>
                </div>
            </div>
        </form>
    </div>
    </div>
    <!-- <script defer src="/js/FAQ.js"></script> -->
</body>

</html>