<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" type="text/css" href="/css/FAQ_header.css">
    <title>내 정보 페이지</title>
</head>

<body>
    <div class="header_container">
        <header id="navbar">
          <a href="/" class="logo"><img src="images/newcar.png" ></a>
          <ul th:if="${session.user == null}">
            <li><a href="/detail" class="active">소개</a></li>
            <li><a href="/subpage">구독</a></li>
            <li><a href="/guestboard">문의</a></li>
            <li><a href="/login">로그인</a></li>
          </ul>
          <ul th:unless="${session.user == null}">
              <li><a href="#" class="active">소개</a></li>
              <li><a href="/subpage">구독</a></li>
              <li><a href="/counsel">문의</a></li>
              <li><a href="/myinfo">내소개</a></li>
          </ul>
        </header>
      
    <div class="wrapper">
        <section class="sec-myinfo">
            <form class="userinfo" action="/myinfo" method="post">
                <div class="div-h1myinfo"><h1>내 정보</h1><div class="div-id"><p class="id" th:text=" '▷&nbsp;ID : ' + ${session.user.userId}"></p></div></div>
                <fieldset>
                    <legend>
                        <label for="pw">비밀번호</label>
                    </legend>
                    <input type="password" class="pw" name="userPassword" th:value="${user.userPassword}" />
                </fieldset>
                <fieldset>
                    <legend>
                        <label for="name">원하시는 가명</label>
                    </legend>
                    <input type="text" class="name" name="userNickname" th:value="${user.userNickname}" />
                </fieldset>
                
                <fieldset>
                    <legend>
                        <label for="pnum">전화번호</label>
                    </legend>
                    <input type="text" class="pnum" name="phone" th:value="${user.phone}" />
                </fieldset>
                <fieldset>
                    <legend>
                        <label for="address">주소</label>
                    </legend>
                    <input type="text" class="address" name="address" th:value="${user.address}" />
                </fieldset>
                <div class="button-container">
                    <a class="logout-button" th:href="@{/logout}">로그아웃</a>
                    <a class="unreg-button" th:href="@{/usercheck}">회원탈퇴</a>
                    <button type="submit" class="edit-button">수정</button>                    
                </div>
            </form>
        </section>
        <section class = "sec-sublist" th:if="${serviceHistories!=null}">
            <table>
                <tr>
                    <th>구독종류</td>
                    <th>구독시작일</td>
                    <th>구독완료일</td>
                </tr>
                <tr th:each="serviceHistory:${serviceHistories}">
                    <td th:text="${serviceHistory.subtype}"></td>
                    <td th:text="${serviceHistory.subStart}"></td>
                    <td th:text="${serviceHistory.subEnd}"></td>
                </tr>
            </table>
        </section>
    </div>
</body>

</html>