<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/subscribe.css" />
</head>

<body>
    <div class="div-logo">
        <a href="/" class="logo"><img src="images/newcar.png" ></a>
        <!-- <p id="logo">NEW CAR</p> -->
    </div>
    <div class="main">
        <h2>구독 신청 실패</h2>
        <p>현재 구독 신청이 되어있거나</p>
        <p>구독 신청이 불가합니다.</p>
        <p>구독 종류의 변경은 Basic에서 Premium으로 업그레이드하는 경우만 가능합니다.</p>
        <div class="div-btnflex">
            <a href="/subpage" class="a-ok">확인</a>
        </div>
    </div>
</body>

</html>